@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

.card {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
    max-width: 400px;
    flex: 1 0 0;
    font-family: Nunito Sans;
}

.pfp {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.name, .loc {
    color: var(--grey-600, #6E7491);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.rating{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.loc {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}